In [ ]:
import seaborn as sns
import numpy as np
import pandas as pd
np.random.seed(42)

df_iris = sns.load_dataset('iris')
df_iris.shape
res1 = 150/5
res1

30.0

In [ ]:
(res1 == 30.0)

True

In [ ]:
df_iris = df_iris[['sepal_length']]
df_iris = df_iris.rename(columns= {'sepal_length' : 'x'})
df_iris

       x
0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
..   ...
145  6.7
146  6.3
147  6.5
148  6.2
149  5.9

[150 rows x 1 columns]

In [ ]:
def num_one(x):
    return 20*x**4 + 27*x**2 + 2*np.e*x  #20x4 + 27x2 +2ex

df_iris['derivative_one'] = df_iris.apply(num_one)

df_iris

       x  derivative_one
0    5.1    14260.398475
1    4.9    12204.511162
2    4.7    10381.343849
3    4.6     9551.240193
4    5.0    13202.182818
..   ...             ...
145  6.7    41550.696977
146  6.3    32611.802351
147  6.5    36877.337664
148  6.2    30624.258695
149  5.9    25206.667726

[150 rows x 2 columns]

In [ ]:
res2 = round(df_iris['derivative_one'].sum(),3)
res2

4077643.108

In [ ]:
res2 == 4077643.108

True

In [ ]:
from scipy.misc import derivative

def f(x):
    return 4*x**5+9*x**3+np.e*x**2-7 #4x5+9x3+ex2−7

df_iris['derivative_two'] = derivative(f,df_iris['x'], dx=1e-7)

df_iris

       x  derivative_one  derivative_two
0    5.1    14260.398475    14260.398502
1    4.9    12204.511162    12204.511186
2    4.7    10381.343849    10381.343873
3    4.6     9551.240193     9551.240219
4    5.0    13202.182818    13202.182863
..   ...             ...             ...
145  6.7    41550.696977    41550.697097
146  6.3    32611.802351    32611.802490
147  6.5    36877.337664    36877.337734
148  6.2    30624.258695    30624.258798
149  5.9    25206.667726    25206.667779

[150 rows x 3 columns]

In [ ]:
res3 = round(df_iris['derivative_two'].sum(),3)
res3

4077643.121

## Derivative

In [ ]:
import math
from math import e

 $f(x) = e^x$

In [ ]:
def e_prime(x):
  return e**x

res4 = e_prime(5)

res4

148.41315910257657

In [ ]:
round(res4, 3) == 148.413

True

$f(x) = lnx$

In [ ]:
def ln_prime(x):
    return  1/x

res5 = ln_prime(5)

res5

0.2

In [ ]:
round(res5, 1) == 0.2

True

$f(x) = Sin(2x)$

In [ ]:
def sine_prime(x):
    return 2*math.cos(2*x)

res6 = sine_prime(5)
res6

-1.6781430581529049

In [ ]:
round(res6, 3) == -1.678

True

$f(x) = (2x^2 + 8x)^2$

In [ ]:
def f_prime(x):
    return 2*(4*x + 8)*(2*x**2 + 8*x)


res7 = f_prime(5)
res7

5040

In [ ]:
res7 == 5040

True

## 편미분

In [ ]:
from scipy.optimize import minimize
from math import e
from math import exp

def er(x,y):
    return (e*x -y)**2 + 50*y

#lambda 이용한 최적 기준 3과 10 각각 함수 설정 
f1 = lambda x : er(x,3)
f2 = lambda x : er(10,x)

#result = minimize(cf.cost_function, x0, method='SLSQP')
p1 = minimize(f1, 0, method = 'SLSQP')
p2 = minimize(f2, 0, method = 'SLSQP')


p1

     fun: 150.0
     jac: array([1.90734863e-06])
 message: 'Optimization terminated successfully.'
    nfev: 10
     nit: 3
    njev: 3
  status: 0
 success: True
       x: array([1.10363836])

In [ ]:
p1 = 1.10363836

In [ ]:
p1 = 3/exp(1)

In [ ]:
p2

     fun: 734.1409142295225
     jac: array([0.])
 message: 'Optimization terminated successfully.'
    nfev: 7
     nit: 2
    njev: 2
  status: 0
 success: True
       x: array([2.18281828])

In [ ]:
p2 = 2.18281828

In [ ]:
p2 = 10*exp(1)-25

$\sigma(x) = {{1} \over {1 + e^-x}}$.

In [ ]:
def sig_prime(x):
    return (e**-x)/(e**-x+1)**2 # 이곳에 답안을 작성하세요.

challenge = sig_prime(3)
challenge

0.04517665973091214