<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 2*

# üìù Assignment

# Ïπ¥Ïù¥Ï†úÍ≥±Í≤ÄÏ†ï


## 1. Í≥µÍ≥µÎç∞Ïù¥ÌÑ∞ Ï°∞Ïûë Ïó∞Ïäµ. 

Íµ≠Í∞Ä ÌÜµÍ≥Ñ Ìè¨ÌÑ∏ÏóêÏÑú ÏïÑÎûò Ïù¥ÎØ∏ÏßÄÎ•º Ï∞∏Ï°∞ÌïòÏó¨

<https://kosis.kr/statisticsList/statisticsListIndex.do?menuId=M_01_01&vwcd=MT_ZTITLE&parmTabId=M_01_01#SelectStatsBoxDiv>

**2020ÎÖÑ 8Ïõî**Ïóê Ìï¥ÎãπÌïòÎäî Í∑úÎ™®Î≥Ñ ÎØ∏Î∂ÑÏñëÌòÑÌô© Ïóê ÎåÄÌïú Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ ÏÉùÏÑ±ÌïòÏÑ∏Ïöî. 

<img src='https://i.imgur.com/aZc4UJO.png' width = 500>

- `60mÏù¥Ìïò`, `60~85m`, `85mÏ¥àÍ≥º`Ïùò 3Í∞ú Í∑úÎ™®ÏôÄ (column)
- `ÏÑúÏö∏`, `ÎåÄÏ†Ñ`, `ÎåÄÍµ¨`, `Î∂ÄÏÇ∞` 4Í∞úÏùò ÏßÄÏó≠ÏùÑ Ìè¨Ìï®Ìï¥ÏïºÌï©ÎãàÎã§. (row)
- Îç∞Ïù¥ÌÑ∞Í∞Ä ÏóÜÎäî Í≤ΩÏö∞Îäî 0ÏúºÎ°ú Ï≤òÎ¶¨ÌïòÏÑ∏Ïöî.

Ïù¥ÌõÑ Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ colabÏúºÎ°ú Î∂àÎü¨Ïò§ÏÑ∏Ïöî. Ïù¥Îïå Î≥ÄÏàòÏùò Ïù¥Î¶ÑÏùÄ `df`Î•º ÏÇ¨Ïö©Ìï©ÎãàÎã§.

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving df.csv to df.csv

In [ ]:
import pandas as pd
import io

df = pd.read_csv(io.BytesIO(uploaded['df.csv']), index_col=0, encoding = 'cp949')
df = df.replace({'-':0})
df.index
df

     Î∂ÄÎ¨∏(1)  60„é°Ïù¥Ìïò  60‚àº85„é°  85„é°Ï¥àÍ≥º
City
ÏÑúÏö∏    ÎØºÍ∞ÑÎ∂ÄÎ¨∏     54       2      0
Î∂ÄÏÇ∞    ÎØºÍ∞ÑÎ∂ÄÎ¨∏    577     735    142
ÎåÄÍµ¨    ÎØºÍ∞ÑÎ∂ÄÎ¨∏    143    1437     44
ÎåÄÏ†Ñ    ÎØºÍ∞ÑÎ∂ÄÎ¨∏    782       1      0

In [ ]:
df = df.rename({'60„é°Ïù¥Ìïò':'~60m2', '85„é°Ï¥àÍ≥º':'85m2~'}, axis='columns')
df = df.drop(['Î∂ÄÎ¨∏(1)'], axis=1)
df

      ~60m2  60‚àº85„é°  85m2~
City
ÏÑúÏö∏       54       2      0
Î∂ÄÏÇ∞      577     735    142
ÎåÄÍµ¨      143    1437     44
ÎåÄÏ†Ñ      782       1      0

In [ ]:
df.shape

(4, 3)

In [ ]:
df.sum().sum()

3917

## 2. ÏßÄÏó≠Ïóê ÎåÄÌï¥ÏÑú one-sample chi-square testÎ•º Ïã§Ìñâ, Ìï¥Îãπ Í≤∞Í≥ºÎ•º `chi1`Ïóê Ï†ÄÏû• ÌõÑ ÏÑ§Î™ÖÌï¥Î≥¥ÏÑ∏Ïöî.

ÏòàÏãú) ÎßåÏïΩ **9ÏõîÎã¨ Îç∞Ïù¥ÌÑ∞**Î•º Í∏∞Ï§ÄÏúºÎ°ú ÌïúÎã§Î©¥
```python
 [0+0+0+52+2+0, 0+0+0+590+665+142, 0+0+0+113+1061+42, 0+0+0+772+1+0]
```
ÏùÑ ÎπÑÍµê ÌïòÍ≤å Îê† Í≤ÉÏûÖÎãàÎã§.

In [ ]:
se = 0+0+0+54+2+0
bs = 0+0+0+577+735+142
dg = 0+0+0+143+1437+44
dj = 0+0+0+782+1+0

observed = se, bs, dg ,dj
observed

expected= sum(observed)/4
ex = expected
ex

979.25

In [ ]:
se, bs, dg, dj

(56, 1454, 1624, 783)

In [ ]:
import numpy as np
from scipy.stats import chisquare
obs = np.array([56, 1454, 1624, 783])
expected = np.array([979.25, 979.25, 979.25, 979.25])
chi1 = chisquare(obs, expected)

In [ ]:
chi1.statistic

1564.4572376818994

In [ ]:
# ÏÑ§Î™Ö
# Í∑ÄÎ¨¥Í∞ÄÏÑ§: ÏßÄÏó≠Ïóê Îî∞Îùº Î∂ÑÏñëÏùÄ Ï∞®Ïù¥Í∞Ä ÏóÜÏùÑ Í≤ÉÏù¥Îã§
# ÎåÄÎ¶ΩÍ∞ÄÏÑ§: ÏßÄÏó≠Ïóê Îî∞Îùº Î∂ÑÏñëÏùÄ Ï∞®Ïù¥Í∞Ä ÏûàÏùÑ Í≤ÉÏù¥Îã§
# pvalueÍ∞Ä 0.0Ïù¥ÎØÄÎ°ú ÏßÄÏó≠Ïóê Îî∞Îùº ÎØ∏Î∂ÑÏñëÏùÄ Ï∞®Ïù¥Í∞Ä ÏûàÎã§

## 3. ÏßÄÏó≠Í≥º Í∑úÎ™®Ïóê ÎåÄÌï¥ÏÑú two-sample chi-square testÎ•º Ïã§Ìñâ, Ìï¥Îãπ Í≤∞Í≥ºÎ•º `chi2`Ïóê Ï†ÄÏû• ÌõÑ ÏÑ§Î™ÖÌï¥Î≥¥ÏÑ∏Ïöî.

ÏòàÏãú) **9ÏõîÎã¨ Îç∞Ïù¥ÌÑ∞**Î•º Í∏∞Ï§ÄÏúºÎ°ú ÌïúÎã§Î©¥

| |-60 | 60-85 | 85- |
|:-:|:-:|:-:|:-:|
|ÏÑúÏö∏|52|2|0|
|ÎåÄÏ†Ñ|772|1|0|
|ÎåÄÍµ¨|113|1061|42|
|Î∂ÄÏÇ∞|590|665|142|

Ïóê ÎåÄÌï¥ÏÑú Í≤ÄÏ†ïÌï¥Ïïº Ìï† Í≤ÅÎãàÎã§.

In [ ]:
df

      ~60m2  60‚àº85„é°  85m2~
City
ÏÑúÏö∏       54       2      0
Î∂ÄÏÇ∞      577     735    142
ÎåÄÍµ¨      143    1437     44
ÎåÄÏ†Ñ      782       1      0

In [ ]:
from scipy.stats import chi2_contingency
obs = np.array([[54,2,0], [577,735,142], [143,1437,44], [782,1,0]])
exp = np.array([979.25, 979.25, 979.25, 979.25])
total_obs = np.sum(obs)
total_exp = np.sum(exp)

In [ ]:
chi2 = chi2_contingency(obs)
chi2

(2064.576731417199, 0.0, 6, array([[ 22.24559612,  31.09522594,   2.65917794],
        [577.59101353, 807.36533061,  69.04365586],
        [645.12228746, 901.76155221,  77.11616033],
        [311.04110288, 434.77789124,  37.18100587]]))

In [ ]:
#pvalueÍ∞Ä 0.0Ïù¥ÎØÄÎ°ú ÏßÄÏó≠Ïóê Îî∞Îùº Ï∞®Ïù¥Í∞Ä ÏûàÎã§

### 4. 2Î≤àÏóê ÎåÄÌï¥ÏÑú NumPy Î•º ÏÇ¨Ïö©ÌïòÏó¨ (ScipyÎ•º ÏÇ¨Ïö©ÌïòÏßÄ ÏïäÍ≥†) $\chi^2$ test ÏãúÌñâ ÌõÑ 2Î≤àÏùò Í≤∞Í≥ºÏôÄ ÎπÑÍµêÌï¥Î≥¥ÏÑ∏Ïöî. 

- `obs`, `exp`, `chi`ÎùºÎäî Î≥ÄÏàòÎ•º ÏÇ¨Ïö©Ìï¥ÏïºÌï©ÎãàÎã§.

Ïù¥ ÌõÑ `chi2_contingency()`Ïùò Í≤∞Í≥ºÎ¨ºÍ≥º ÎπÑÍµêÌï¥Î≥¥ÏÑ∏Ïöî

In [ ]:
df

      ~60m2  60‚àº85„é°  85m2~
City
ÏÑúÏö∏       54       2      0
Î∂ÄÏÇ∞      577     735    142
ÎåÄÍµ¨      143    1437     44
ÎåÄÏ†Ñ      782       1      0

In [ ]:
obs = np.array([56, 1454, 1624, 783])
exp = np.sum(obs)/len(obs)
chi = np.sum(np.power(obs - exp, 2)/exp)
chi

1564.4572376818994

In [ ]:
pval = 1 - stats.chi2.cdf(chi, df = len(obs)-1) #len(obs) - data Í∏∏Ïù¥
pval

0.0

In [ ]:
chi == chi1[0], pval == chi1[1]

(True, True)

In [ ]:
#scipy & numpy Îëò Îã§ Í∞ôÏùÄ Í∞í ÎÇòÏò¥

## üî• ÎèÑÏ†Ñ Í≥ºÏ†ú

ÏïÑÎûò ÏÑ∏Í∞ÄÏßÄÎ•º Îã§ÌïòÎ©¥ Îê©ÎãàÎã§.

### 1. Function

4Î≤àÏóêÏÑú ÏÇ¨Ïö©Ìïú one sample chisquare testÎ•º Ìï®ÏàòÏùò ÌòïÌÉúÎ°ú Î≥ÄÍ≤ΩÌïòÏÑ∏Ïöî.

In [ ]:
v1 = [18,22,20,15,23,22]
v2 = [5,23,26,19,24,23]

def myChisq(value):
    exp = np.sum(value)/len(value)
    chi = np.sum(np.power(value-exp, 2)/exp)
    pval = 1 - stats.chi2.cdf(chi, df = len(value)-1)
    print(value,"Ïùò Í∞í Ï∂úÎ†•")
    print('chisquare = ' ,chi)
    print('pvalue = ', pval)
    return None

myChisq(v1) 

# chisquareÍ∞íÍ≥º pvalueÎ•º Ï∂úÎ†•Ìï¥ÏïºÌï©ÎãàÎã§.

myChisq(v2)

[18, 22, 20, 15, 23, 22] Ïùò Í∞í Ï∂úÎ†•
chisquare =  2.3000000000000003
pvalue =  0.8062668698851285
[5, 23, 26, 19, 24, 23] Ïùò Í∞í Ï∂úÎ†•
chisquare =  14.8
pvalue =  0.011251979028327308

### 2. ANOVA

ÏïÑÎûò ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏó¨ ANOVA Ïóê ÎåÄÌïú Í∏ÄÏùÑ ÏùΩÍ≥†

<https://partrita.github.io/posts/ANOVA-python/>

Îã§Ïùå `4Í∞ú Í∑∏Î£πÏóê ÎåÄÌï¥ÏÑú ÌèâÍ∑†Ïùò Ï∞®Ïù¥Í∞Ä ÏûàÎäîÏßÄ`Ïóê ÎåÄÌïú Í∞ÄÏÑ§ Í≤ÄÏ†ïÏùÑ ÏãúÌñâÌïòÏÑ∏Ïöî.

A : `38 33 35 92 76 97 88 41 11  9`

B : `18 52 62 48 30 40 87 12 97 82`

C :  `28 90  5 49 66 73 96 80  4 17`

D : ` 8 99  4 12  7 64 18 10  9 20`

In [ ]:
import scipy.stats as stats
import pandas as pd
import urllib
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

a = [38,33,35,92,76,97,88,41,11,9]
b = [18,52,62,48,30,40,87,12,97,82]
c = [28,90,5,49,66,73,96,80,4,17]
d = [8,99,4,12,7,64,18,10,9,20]

df1 = pd.DataFrame({'A':a, 'B':b, 'C':c, 'D':d})

F_statistic, pVal = stats.f_oneway(a,b,c,d)
print('Îç∞Ïù¥ÌÑ∞Ïùò ÏùºÏõêÎ∂ÑÏÇ∞Î∂ÑÏÑù Í≤∞Í≥º : F={0:.1f}, p={1:.5f}'.format(F_statistic, pVal))

Îç∞Ïù¥ÌÑ∞Ïùò ÏùºÏõêÎ∂ÑÏÇ∞Î∂ÑÏÑù Í≤∞Í≥º : F=1.7, p=0.17921

In [ ]:
p = 0.17921
if p < 0.05:
  print('ÌèâÍ∑†Ïùò Ï∞®Ïù¥Í∞Ä ÏûàÎã§')
else:
  print('ÌèâÍ∑†Ïùò Ï∞®Ïù¥Í∞Ä ÏóÜÏùÑÏàòÎèÑ ÏûàÎã§')
#pvalueÍ∞Ä 5Î≥¥Îã§ ÌÅ¨ÎØÄÎ°ú ÌèâÍ∑†Ïóê Ï∞®Ïù¥Í∞Ä ÏóÜÎã§Îäî Í∞ÄÏÑ§ÏùÄ Í∏∞Í∞Å Ìï† Ïàò ÏóÜÎã§.

ÌèâÍ∑†Ïùò Ï∞®Ïù¥Í∞Ä ÏóÜÏùÑÏàòÎèÑ ÏûàÎã§

## 3. Sign Test

ÏïÑÎûò ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏó¨ Sign TestÏóê ÎåÄÌïú Í∏ÄÏùÑ ÏùΩÍ≥†

<https://en.wikipedia.org/wiki/Sign_test>

Îã§Ïùå Îç∞Ïù¥ÌÑ∞ÏóêÏÑú Îëê Í∑∏Î£πÍ∞ÑÏóê Ï∞®Ïù¥Í∞Ä ÏûàÎã§Ïóê ÎåÄÌïú Sign TestÏùò Í≥ºÏ†ïÍ≥º Í≤∞Í≥ºÎ•º ÏÑ§Î™ÖÌïòÏÑ∏Ïöî

|A|B|
|:-:|:-:|
|142|138|
|140|136|
|144|147|	
|144|139|	
|142|143|	
|146|141|	
|149|143|	
|150|145|	
|142|136|	
|148|146|

In [ ]:
from scipy import stats
import matplotlib.pyplot as plt

dat_num = {'A':[142,140,144,144,142,146,149,150,142,148],
       'B':[138,136,147,139,143,141,143,145,136,146]}

dat = pd.DataFrame(dat_num)

dat


dat[['A','B']].describe()

dat['result'] = dat['A'] - dat['B'] 
dat['sign'] = 0
dat.loc[dat['result'] > 0,'sign'] = '+'
dat.loc[dat['result'] == 0,'sign'] = '='
dat.loc[dat['result'] < 0,'sign'] = '-'

In [ ]:
dat

     A    B  result sign
0  142  138       4    +
1  140  136       4    +
2  144  147      -3    -
3  144  139       5    +
4  142  143      -1    -
5  146  141       5    +
6  149  143       6    +
7  150  145       5    +
8  142  136       6    +
9  148  146       2    +

In [ ]:
print(len(dat[dat['sign'] == '+']))

8

In [ ]:
print(len(dat[dat['sign'] == '-']))

2

In [ ]:
dat_pvalue = (0.001+0.010+0.044)
dat_pvalue
#PvalueÍ∞Ä 0.5Î≥¥Îã§ ÌÅ¨ÎØÄÎ°ú, Í∑ÄÎ¨¥Í∞ÄÏÑ§ÏùÄ Í∏∞Í∞Å X
#A B Í∞ÑÏóê Ï∞®Ïù¥Í∞Ä ÏûàÎã§Í≥† Î≥º Ïàò ÏóÜÎã§

0.05499999999999999