<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# ğŸ“ Assignment

## 1. Feature Engineering

- `KT&G` ê¸°ì—… ë°ì´í„°ë¥¼ ê³„ì† ì‚¬ìš©í•©ë‹ˆë‹¤.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df`ë¡œ ì €ì¥í•˜ì„¸ìš”.

- ê° ë¶„ê¸°ë³„ ì˜ì—…ì´ìµë¥ ì„ ì§ì ‘ ê³„ì‚°í•´ë³´ì„¸ìš”. 
  - Feature ì´ë¦„ì€ `ì˜ì—…ì´ìµë¥ 2` ì…ë‹ˆë‹¤.

- ì•„ë˜ ë°ì´í„°ë¥¼ ì°¸ì¡°í•˜ì—¬ 18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio (PDR)ì„ ê³„ì‚°í•˜ì„¸ìš”.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df2`, feature ì´ë¦„ì€ `PDR`ë¡œ, `df2['PDR']`ì„ í†µí•´ `~` ê°’ì´ í™•ì¸ ë˜ì–´ì•¼í•©ë‹ˆë‹¤.

||êµ¬ë¶„|ì¢…ê°€|ë°œí–‰ì£¼ì‹ìˆ˜|ì‹œê°€ì´ì•¡|ì‹œì¥ì ìœ ìœ¨|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18ë…„|101500|137292497|13935188445500|62.0|~|
|1|19ë…„|93800|137292497|12878036218600|63.5|~|

In [ ]:
#1 ë°ì´í„° ì…‹ ë¶ˆëŸ¬ì˜¤ê¸°
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'

import pandas as pd

column_headers = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)']

df = pd.read_csv(url, names = column_headers)

#,ì œê±° í•˜ê¸°ìœ„í•œ ì½”ë“œ

def toint(string):
    return int(string.replace(',',''))

#ì˜ì—…ì´ìµê³¼ ë§¤ì¶œì•¡ data ',' ì œê±°
df['ì˜ì—…ì´ìµ'] = df['ì˜ì—…ì´ìµ']. apply(toint)
df['ë§¤ì¶œì•¡'] = df['ë§¤ì¶œì•¡']. apply(toint)
df['ì˜ì—…ì´ìµë¥ 2'] = df['ì˜ì—…ì´ìµ'] / df['ë§¤ì¶œì•¡']
df['ì˜ì—…ì´ìµë¥ 2'] = df['ì˜ì—…ì´ìµë¥ 2'] * 100

#ì†Œìˆ˜ì  3ìë¦¬ê¹Œì§€ í‘œì‹œ
pd.options.display.float_format = '{:.3f}'.format
df

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€) ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨  EPS(ì›) PER(ë°°) ì˜ì—…ì´ìµë¥ 2
0   19/6  12578  3991      3,991    4,452  ... 31.430 803.220   2,351 13.770 31.730
1   19/9  13222  3825      3,825    4,503  ... 24.170 836.860   2,337 13.870 28.929
2  19/12  11982  2523      2,523    1,794  ... 23.040 850.820     873 12.420 21.057
3   20/3  11784  3150      3,150    4,156  ... 29.690 823.160   2,134  9.710 26.731
4   20/6  13188  3947      3,947    4,020  ... 26.910 837.400   2,135 10.460 29.929

[5 rows x 26 columns]

In [ ]:
df.shape

(5, 26)

In [ ]:
(round(df['ì˜ì—…ì´ìµë¥ 2'], 3) == [31.730, 28.929, 21.057, 26.731, 29.929]).sum()

5

In [ ]:
#ë°ì´í„° í”„ë ˆì„ ìƒì„±
df2 = pd.DataFrame({'êµ¬ë¶„':['18ë…„','19ë…„'], 'ì‹œì¥ê·œëª¨':[15000000000000,15000000000000], 'ì¢…ê°€':[101500,93800], 'ë°œí–‰ì£¼ì‹ìˆ˜':[137292497,137292497], 'ì‹œê°€ì´ì•¡':[13935188445500,12878036218600], 'ì‹œì¥ì ìœ ìœ¨':[62.0,63.5]})
df2
#PDR êµ¬í•˜ê¸°
df2['PDR'] = df2['ì‹œê°€ì´ì•¡']/(df2['ì‹œì¥ê·œëª¨']*df2['ì‹œì¥ì ìœ ìœ¨']/100)
df2['PDR'] = df2['PDR']*100 
df2

    êµ¬ë¶„            ì‹œì¥ê·œëª¨      ì¢…ê°€      ë°œí–‰ì£¼ì‹ìˆ˜            ì‹œê°€ì´ì•¡  ì‹œì¥ì ìœ ìœ¨     PDR
0  18ë…„  15000000000000  101500  137292497  13935188445500 62.000 149.841
1  19ë…„  15000000000000   93800  137292497  12878036218600 63.500 135.202

In [ ]:
(round(df2['PDR'], 3) == [149.841, 135.202]).sum()

2

## 2. String Manipulation

- replaceê°€ ì•„ë‹Œ ë‹¤ë¥¸ ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ 19ë…„ë„ 2ë¶„ê¸°ì˜ ë§¤ì¶œì•¡ ì„ integerë¡œ ë³€ê²½í•˜ì„¸ìš”. ê²°ê³¼ê°’ì€ 12578ì´ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

In [ ]:
#1 ë°ì´í„° ì…‹ ë¶ˆëŸ¬ì˜¤ê¸°
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'

import pandas as pd

column_headers = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)']

df = pd.read_csv(url, names = column_headers, thousands = ',')
df

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨  EPS(ì›)  PER(ë°°)
0   19/6  12578  3991        3991  ... 31.430 803.220    2351  13.770
1   19/9  13222  3825        3825  ... 24.170 836.860    2337  13.870
2  19/12  11982  2523        2523  ... 23.040 850.820     873  12.420
3   20/3  11784  3150        3150  ... 29.690 823.160    2134   9.710
4   20/6  13188  3947        3947  ... 26.910 837.400    2135  10.460

[5 rows x 25 columns]

In [ ]:
df['ë§¤ì¶œì•¡'][0]

12578

## 3. Apply
- ë°ì´í„°ì…‹ì˜ ë¶„ê¸°ë¥¼ ì œì™¸í•œ ëª¨ë“  featureì— ëŒ€í•´ì„œ ìˆ˜ì¹˜í˜• ë°ì´í„° (`int`, `float`) ë¡œ ìˆ˜ì •í•˜ê³ , `describe`ë¥¼ í†µí•´ summary statistics ë¥¼ í™•ì¸í•˜ì„¸ìš”.
- ë‹¨ ê²°ì¸¡ì¹˜ëŠ” `0`ìœ¼ë¡œ ì²˜ë¦¬í•©ë‹ˆë‹¤.

In [ ]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'

import pandas as pd

column_headers = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)']

df = pd.read_csv(url, names = column_headers, thousands = ',') #thousands í†µí•´ ','ì œê±° í•¨ìœ¼ë¡œ int,floatë¡œ ìˆ˜ì •
df = df.fillna(0) #ê²°ì¸¡ì¹˜ 0ìœ¼ë¡œ
df.dtypes #ë°”ë€Œì—ˆëŠ”ì§€ data type í™”ì¸
df.describe()

            ë§¤ì¶œì•¡     ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨   EPS(ì›)  PER(ë°°)
count     5.000    5.000       5.000     5.000  ...  5.000   5.000    5.000   5.000
mean  12550.800 3487.200    3487.200  3785.000  ... 27.048 830.292 1966.000  12.046
std     664.979  636.931     636.931  1131.079  ...  3.555  18.020  619.940   1.898
min   11784.000 2523.000    2523.000  1794.000  ... 23.040 803.220  873.000   9.710
25%   11982.000 3150.000    3150.000  4020.000  ... 24.170 823.160 2134.000  10.460
50%   12578.000 3825.000    3825.000  4156.000  ... 26.910 836.860 2135.000  12.420
75%   13188.000 3947.000    3947.000  4452.000  ... 29.690 837.400 2337.000  13.770
max   13222.000 3991.000    3991.000  4503.000  ... 31.430 850.820 2351.000  13.870

[8 rows x 24 columns]

In [ ]:
(df.dtypes == 'O').sum()

1

## Grading

ì´ì „ ê³¼ì œë¥¼ ì™„ë£Œí–ˆë‹¤ë©´, ì•„ë˜ì˜ ì½”ë“œë¥¼ ì‹¤í–‰í•˜ì„¸ìš”.

In [ ]:
def grade(df, df2):
  score = 0
  score += (df.shape == (5, 26)) # 1-1
  score += ((round(df2['PDR'], 3) == [149.841, 135.202]).sum() == 2) # 1-2
  score += ((round(df['ì˜ì—…ì´ìµë¥ 2'], 3) == [31.730, 28.929, 21.057, 26.731, 29.929]).sum() == 5) # 1-3
  score += (df['ë§¤ì¶œì•¡'][0] == 12578) # 2
  score += ((df.dtypes == 'O').sum() == 1)
  return(score)

In [ ]:
grade(df, df2)

4

## ğŸ”¥ ë„ì „ê³¼ì œ

### NA Value Handling

- 19ë…„ë„ 4ë¶„ê¸°ì˜ ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) ë¶€ë¶„ì„ Naë¡œ ëŒ€ì²´í•˜ì„¸ìš”
- ì´í›„ í•´ë‹¹ ê²°ì¸¡ì¹˜ë¥¼ mean imputation ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ ì²˜ë¦¬í•˜ì„¸ìš”.

In [ ]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'

import pandas as pd
import numpy as np 

column_headers = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)']
df = pd.read_csv(url, names = column_headers, thousands = ',')
df = df.fillna(0)

#ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) -ê°’ì„ ê²°ì¸¡ê°’ìœ¼ë¡œ ë³€ê²½
cols = ['ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)']
df[df[cols] < 0] = np.nan

#ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) meanê°’ êµ¬í•œ í›„ ê²°ì¸¡ê°’ì„ ëŒ€ì²´
df['ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)'].mean()
df.fillna(df['ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)'].mean())

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨  EPS(ì›)  PER(ë°°)
0   19/6  12578  3991        3991  ... 31.430 803.220    2351  13.770
1   19/9  13222  3825        3825  ... 24.170 836.860    2337  13.870
2  19/12  11982  2523        2523  ... 23.040 850.820     873  12.420
3   20/3  11784  3150        3150  ... 29.690 823.160    2134   9.710
4   20/6  13188  3947        3947  ... 26.910 837.400    2135  10.460

[5 rows x 25 columns]

### Feature Engineering

Relative Perfomance ë¼ëŠ” ìƒˆë¡œìš´ featureë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

ì´ëŠ” ìµœê·¼ 1ë…„ì¹˜ ë§¤ì¶œì•¡ì˜ í‰ê· ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ 

- 10% ì´ìƒ -> `S`
- 5% ì´ìƒ -> `A`
- -5 ~ 5% -> `B`
- -5%ì´í•˜ -> `C`
- 10%ì´í•˜ -> `D`

ë¼ëŠ” ê°’ì„ ê°–ëŠ” featureì…ë‹ˆë‹¤.

20ë…„ë„ 2ë¶„ê¸°ì— í•´ë‹¹í•˜ëŠ” ê²°ê³¼ê°’ì€ `A`ê°€ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

ê°ê°ì— í•´ë‹¹í•˜ëŠ” ë“±ê¸‰ì´ ë‚˜ì˜¤ê¸° ìœ„í•´ì„œ í•„ìš”í•œ ë§¤ì¶œì•¡ì„ ì¶”ê°€ë¡œ ì„œìˆ í•˜ì„¸ìš”.

In [ ]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'

import pandas as pd
import numpy as np 

column_headers = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)']
df = pd.read_csv(url, names = column_headers, thousands = ',')
df = df.fillna(0)
df.mean()

df['ë§¤ì¶œì•¡ í‰ê· '] = df['ë§¤ì¶œì•¡'] / 12550.800
df['ë§¤ì¶œì•¡ í‰ê· '] = (df['ë§¤ì¶œì•¡ í‰ê· ']-1)*100

grades = []
for x in df['ë§¤ì¶œì•¡ í‰ê· ']:
    if x >= 10:
        grades.append("S")
    elif x >= 5:
        grades.append("A")
    elif  x >= -5:
        grades.append("B")
    elif x < -5: 
        grades.append("C")
    elif x < -10:
        grades.append("D")
    else:
        grades.append("")

df['ë§¤ì¶œ ì ìˆ˜'] = grades
df

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...  EPS(ì›)  PER(ë°°)    ë§¤ì¶œì•¡ í‰ê·   ë§¤ì¶œ ì ìˆ˜
0   19/6  12578  3991        3991  ...    2351   13.77  0.216719      B
1   19/9  13222  3825        3825  ...    2337   13.87  5.347866      A
2  19/12  11982  2523        2523  ...     873   12.42 -4.531982      B
3   20/3  11784  3150        3150  ...    2134    9.71 -6.109571      C
4   20/6  13188  3947        3947  ...    2135   10.46  5.076967      A

[5 rows x 27 columns]

In [ ]:
avg = df['ë§¤ì¶œì•¡'].mean()
print(avg)

#í•´ë‹¹ ë“±ê¸‰ì„ ìœ„í•´ í•„ìš”í•œ ë§¤ì¶œì•¡
print(round(avg*1.1,4),'S')
print(round(avg*1.05,4),'A')
print(round(avg*0.95,4),'B')
print(round(avg*0.9,4),'C')

12550.8
13805.88 S
13178.34 A
11923.26 B
11295.72 C