<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 1*

# üìù Assignment

In [ ]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 34 not upgraded.
Need to get 9,604 kB of archives.
After this operation, 29.5 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-nanum all 20170925-1 [9,604 kB]
Fetched 9,604 kB in 2s (5,523 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 160706 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [ ]:
#barplot ÌïúÍ∏Ä Íπ®Ïßê Ìï¥Í≤∞ÏùÑ ÏúÑÌïú ÌïúÍ∏Ä Ìè∞Ìä∏ Î∂àÎü¨Ïò§Í∏∞
import matplotlib.pyplot as plt

plt.rc('font', family='NanumBarunGothic')
plt.rc('axes', unicode_minus=False)

# Í∞ÄÏÑ§ Í≤ÄÏ†ï

## 1. One-Sample T-test Ïó∞Ïäµ

### Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
- [ÏÑúÏö∏Ïãú Í∞ÄÎ°úÏàò Îç∞Ïù¥ÌÑ∞ÏÖã](https://data.seoul.go.kr/dataList/367/S/2/datasetView.do)ÏùÑ ÏÇ¨Ïö©Ìï©ÎãàÎã§.

Îã§Ïùå ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏÑ∏Ïöî. 
<https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/seoul_tree/seoul_tree.txt>

In [ ]:
#Îç∞Ïù¥ÌÑ∞ ÏÖã Î∂àÎü¨Ïò§Í∏∞

import pandas as pd
import numpy as np
trees = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/seoul_tree/seoul_tree.txt', sep = '\t', skiprows = 1, thousands = ',')
trees = trees.replace({'-':0})

trees

      Í∏∞Í∞Ñ      ÏûêÏπòÍµ¨   ÎÖ∏ÏÑ†Ïàò      ÏàòÎüâ    ÏùÄÌñâÎÇòÎ¨¥  ...    Î¨¥Í∂ÅÌôî    ÏÜåÎÇòÎ¨¥   Î™©Î†®   Ïù¥ÌåùÎÇòÎ¨¥      Í∏∞ÌÉÄ
0   2019      ÏÑúÏö∏Ïãú  1412  307351  108050  ...  2,374  4,539  378  20088  20,112
1   2019      Ï¢ÖÎ°úÍµ¨    70    7329    4072  ...      0    239    0    711      29
2   2019       Ï§ëÍµ¨    48    8250    3640  ...     46  2,162    0    470     817
3   2019      Ïö©ÏÇ∞Íµ¨    39    7835    4444  ...      0     51  126    198     780
4   2019      ÏÑ±ÎèôÍµ¨    38    8120    1090  ...      0     53    0    709     646
5   2019      Í¥ëÏßÑÍµ¨    28    7223    1247  ...      0     20  113    760     443
6   2019     ÎèôÎåÄÎ¨∏Íµ¨    43   10664    3749  ...      1      0    0   1176     456
7   2019      Ï§ëÎûëÍµ¨    57    8365    2774  ...    212     64    0    449   1,156
8   2019      ÏÑ±Î∂ÅÍµ¨    78    8449    2722  ...      5     97    0    853     547
9   2019      Í∞ïÎ∂ÅÍµ¨    31    7789    3510  ...      0  1,007    0    575     410
10  2019      ÎèÑÎ¥âÍµ¨    63    9572    4914  ...    214     15    0     47   1,070
11  2019      ÎÖ∏ÏõêÍµ¨    50   14489    6505  ...    150     32    1    142   1,135
12  2019      ÏùÄÌèâÍµ¨    35    9880    4324  ...      3      0    0    443     582
13  2019     ÏÑúÎåÄÎ¨∏Íµ¨    39    8627    3474  ...     70      0    0    493   1,120
14  2019      ÎßàÌè¨Íµ¨    92   14538    3353  ...      0    124   93   1280     348
15  2019      ÏñëÏ≤úÍµ¨    69   13501    5622  ...    197      0    0    784     595
16  2019      Í∞ïÏÑúÍµ¨    55   13719    3977  ...     59    282    0   1426     568
17  2019      Íµ¨Î°úÍµ¨    81   11548    3594  ...      0     30   26   1082   1,210
18  2019      Í∏àÏ≤úÍµ¨    30    6603    3545  ...      0      5    0    184      69
19  2019     ÏòÅÎì±Ìè¨Íµ¨   114   18220    5879  ...      0     40   19   1281     651
20  2019      ÎèôÏûëÍµ¨    29    7083    2178  ...    206      7    0    397     794
21  2019      Í¥ÄÏïÖÍµ¨    32   10154    2280  ...  1,120     59    0    249   1,194
22  2019      ÏÑúÏ¥àÍµ¨    56   16548    3800  ...     91      0    0    446   1,143
23  2019      Í∞ïÎÇ®Íµ¨    60   23349    7210  ...      0      0    0    768     913
24  2019      ÏÜ°ÌååÍµ¨    99   22858   11894  ...      0    215    0   1651     450
25  2019      Í∞ïÎèôÍµ¨    66   17152    5474  ...      0      0    0    642   1,969
26  2019  Í≥µÏõêÎÖπÏßÄÏÇ¨ÏóÖÏÜå     1     236     179  ...      0      0    0      4       0
27  2019   ÏãúÏÑ§Í¥ÄÎ¶¨Í≥µÎã®     9   15250    2600  ...      0     37    0   2868   1,017

[28 rows x 24 columns]

### "ÏÑúÏö∏ÏãúÏóêÎäî Íµ¨Î≥ÑÎ°ú ÌèâÍ∑† ÏïΩ 400 Í∑∏Î£® Ï†ïÎèÑÏùò `Ïù¥ÌåùÎÇòÎ¨¥`Í∞Ä ÏûàÎã§"ÎùºÎäî Í∞ÄÏÑ§Ïóê ÎåÄÌï¥ Í∞ÄÏÑ§Í≤ÄÏ†ïÏùÑ ÏãúÌñâÌïòÏÑ∏Ïöî.

- Îã®, `ÏÑúÏö∏Ïãú`, `Í≥µÏõêÎÖπÏßÄÏÇ¨ÏóÖÏÜå`, `ÏãúÏÑ§Í¥ÄÎ¶¨Í≥µÎã®` Î∂ÄÎ∂ÑÏùò Îç∞Ïù¥ÌÑ∞Îäî Ï†úÏô∏Ìï©ÎãàÎã§.
- Í∞ÄÏÑ§Í≤ÄÏ†ï Í≤∞Í≥ºÏùò pvalue Í∞íÏùÑ `pv1`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî. (`.pvalue` ÏÇ¨Ïö©)

In [ ]:
#ÏÑúÏö∏Ïãú, Í≥µÏõêÎÖπÏßÄ ÏÇ¨ÏóÖÏÜå, ÏãúÏÑ§Í¥ÄÎ¶¨Í≥µÎã® Îç∞Ïù¥ÌÑ∞ Ï†úÏô∏
tr = trees['ÏûêÏπòÍµ¨'].isin(['ÏÑúÏö∏Ïãú', 'Í≥µÏõêÎÖπÏßÄÏÇ¨ÏóÖÏÜå', 'ÏãúÏÑ§Í¥ÄÎ¶¨Í≥µÎã®'])
trees = trees[~tr]
#Ïù¥ÌåùÎÇòÎ¨¥ Îç∞Ïù¥ÌÑ∞ ÎèÑÏ∂ú Î∞è ÌèâÍ∑†
tree1 = trees['Ïù¥ÌåùÎÇòÎ¨¥']
tree1.mean()

688.64

In [ ]:
#Í∑ÄÎ¨¥Í∞ÄÏÑ§: ÏÑúÏö∏ÏãúÏóêÎäî Íµ¨Î≥ÑÎ°ú ÌèâÍ∑† ÏïΩ 400 Í∑∏Î£® Ï†ïÎèÑÏùò Ïù¥ÌåùÎÇòÎ¨¥Í∞Ä ÏûàÎã§
#Í∞ÄÏÑ§ Í≤ÄÏ†ï
from scipy import stats
print(stats.ttest_1samp(tree1, 400))

Ttest_1sampResult(statistic=3.3809205562101288, pvalue=0.002470712850935819)

In [ ]:
#Pvalue Ï†ÄÏû•
#Í∑ÄÎ¨¥Í∞ÄÏÑ§ÏùÄ ÌãÄÎ†∏Îã§
pv1 = stats.ttest_1samp(tree1, 400).pvalue
pv1

0.002470712850935819

### Ïù¥Î≤àÏóêÎäî 10Í∞úÏùò Íµ¨Î•º ÏÉòÌîåÎßÅÌïòÏó¨, ÏúÑÏóê ÎåÄÌïú Í∞ÄÏÑ§Í≤ÄÏ†ïÏùÑ Îã§Ïãú ÌïúÎ≤à ÏãúÌñâÌï¥Î≥¥ÏÑ∏Ïöî.

- Îã®, ÏïÑÎûòÏùò ÏΩîÎìúÎ•º Ï∞∏Ï°∞ÌïòÏó¨ sampleÏùÑ ÏúÑÌïú seed Îäî 123Î°ú ÏÑ§Ï†ïÌïòÏÑ∏Ïöî.
- Í∞ÄÏÑ§Í≤ÄÏ†ï Í≤∞Í≥ºÏùò pvalueÍ∞íÏùÑ `pv2`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî

In [ ]:
import numpy as np
np.random.seed(123)

rd = np.random.choice(tree1, size = 10)
rd

array([1280,  198,  198,  449,  184,  397,  142,  768,  470,  711])

In [ ]:
print(stats.ttest_1samp(rd, 400))

Ttest_1sampResult(statistic=0.706555193453698, pvalue=0.49772576203804575)

In [ ]:
pv2 = stats.ttest_1samp(rd, 400).pvalue
pv2

0.49772576203804575

## 2. Two-Sample T-test Ïó∞Ïäµ

### "ÏÑúÏö∏ÏãúÏùò Íµ¨Î≥Ñ ÌèâÍ∑† ÎäêÌã∞ÎÇòÎ¨¥ÏàòÏôÄ ÏôïÎ≤öÎÇòÎ¨¥Ïùò ÏàòÎäî Ï∞®Ïù¥Í∞Ä ÏóÜÎã§"ÎùºÎäî Í∞ÄÏÑ§Ïóê ÎåÄÌï¥ Í∞ÄÏÑ§Í≤ÄÏ†ïÏùÑ ÏãúÌñâÌïòÏÑ∏Ïöî.

- Îã®, `ÏÑúÏö∏Ïãú`, `Í≥µÏõêÎÖπÏßÄÏÇ¨ÏóÖÏÜå`, `ÏãúÏÑ§Í¥ÄÎ¶¨Í≥µÎã®` Î∂ÄÎ∂ÑÏùò Îç∞Ïù¥ÌÑ∞Îäî Ï†úÏô∏Ìï©ÎãàÎã§.
- Í∞ÄÏÑ§Í≤ÄÏ†ï Í≤∞Í≥ºÏùò pvalueÎ•º `pv3`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî

In [ ]:
tr = trees['ÏûêÏπòÍµ¨'].isin(['ÏÑúÏö∏Ïãú', 'Í≥µÏõêÎÖπÏßÄÏÇ¨ÏóÖÏÜå', 'ÏãúÏÑ§Í¥ÄÎ¶¨Í≥µÎã®'])
trees = trees[~tr]
t1 = trees['ÎäêÌã∞ÎÇòÎ¨¥']
t2 = pd.to_numeric(trees['ÏôïÎ≤öÎÇòÎ¨¥'].str.replace(',',''))

print(t1.head())
print(t2.head())

1     619
2     460
3     373
4    1975
5    1057
Name: ÎäêÌã∞ÎÇòÎ¨¥, dtype: int64
1    421
2    289
3    262
4    602
5    940
Name: ÏôïÎ≤öÎÇòÎ¨¥, dtype: int64

In [ ]:
t1.mean(), t2.mean()

(1415.12, 1292.0)

In [ ]:
#Î∂ÑÏÇ∞ ÌôïÏù∏ = Í≤∞Í≥º>0.1 ÎØÄÎ°ú Î∂ÑÏÇ∞ ÎèôÏùº
res = stats.levene(t1,t2).pvalue
res

0.4319252158673391

In [ ]:
#Í∑ÄÎ¨¥Í∞ÄÏÑ§ÏùÄ ÎßûÎã§ 
pv3 = stats.ttest_ind(t1,t2, equal_var = True).pvalue
pv3

0.6455096880085703


### Two-Sample One-tailed testÎ•º ÏÇ¨Ïö©ÌïòÏó¨ **ÌèâÍ∑† ÎäêÌã∞ÎÇòÎ¨¥ÏàòÍ∞Ä ÏôïÎ≤öÎÇòÎ¨¥ ÏàòÎ≥¥Îã§ ÌÅ¨Îã§**ÎùºÎäî Í∞ÄÏÑ§Ïóê ÎåÄÌïú Í∞ÄÏÑ§Í≤ÄÏ†ïÏùÑ ÏãúÌñâÌïòÏÑ∏Ïöî.
- Ìï¥Îãπ Í∞ÄÏÑ§Í≤ÄÏ†ïÏùò Í≤∞Í≥ºÎ•º `ans`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî.

Ïù¥ Îïå `ans`Í∞Ä Í∞ÄÏßà Ïàò ÏûàÎäî Í∞íÏùÄ ÏïÑÎûòÏôÄ Í∞ôÏäµÎãàÎã§ :
1. "ÎäêÌã∞ÎÇòÎ¨¥" ( ÎäêÌã∞ÎÇòÎ¨¥Ïùò ÏàòÍ∞Ä ÌÜµÍ≥ÑÏ†ÅÏúºÎ°ú Ïú†ÏùòÌïòÍ≤å ÎßéÏùÄ Í≤ΩÏö∞ )
2. "ÏôïÎ≤öÎÇòÎ¨¥" ( ÏôïÎ≤öÎÇòÎ¨¥Ïùò ÏàòÍ∞Ä ÌÜµÍ≥ÑÏ†ÅÏúºÎ°ú Ïú†ÏùòÌïòÍ≤å ÎßéÏùÄ Í≤ΩÏö∞ )
3. "ÏóÜÏùå" (ÌÜµÍ≥ÑÏ†ÅÏúºÎ°ú Ïú†ÏùòÌïòÏßÄ ÏïäÏùÄ Í≤ΩÏö∞)

Îã§Ïùå ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏÑ∏Ïöî.
<https://stackoverflow.com/questions/15984221/how-to-perform-two-sample-one-tailed-t-test-with-numpy-scipy>

In [ ]:
t1.mean(), t2.mean()

(1415.12, 1292.0)

In [ ]:
!pip install --upgrade scipy

In [ ]:
from scipy.stats import ttest_ind  

# Two-Sample One-tailed test
def t_test(x,y,alternative='both-sided'):
    double_p = ttest_ind(x,y,equal_var = False).pvalue
    if alternative == 'both-sided':
        pval = double_p
    elif alternative == 'greater':
        if np.mean(x) > np.mean(y):
            pval = double_p/2.      #one tailÏù¥ÎØÄÎ°ú 2Î°ú ÎÇòÎàÑÏñ¥Ï§ÄÎã§
        else:
          pval = 1.0 - double_p/2.
    elif alternative == 'less':
        if np.mean(x) < np.mean(y):
            pval = double_p/2.
        else:
            pval = 1.0 - double_p/2.
    return pval

In [ ]:
#ans Íµ¨ÌïòÍ∏∞
t1 = trees['ÎäêÌã∞ÎÇòÎ¨¥']
t2 = pd.to_numeric(trees['ÏôïÎ≤öÎÇòÎ¨¥'].str.replace(',',''))
if t_test(t1,t2,alternative = 'greater') > 0.5:
  print('ÏôïÎ≤öÎÇòÎ¨¥')
elif t_test(t2,t1,alternative ='less') > 0.5:
  print('ÎäêÌã∞ÎÇòÎ¨¥')
else:
  print('ÏóÜÏùå')

ÏóÜÏùå

In [ ]:
ans = 3

## üî• **ÎèÑÏ†ÑÍ≥ºÏ†ú**
> 3Î¨∏Ï†ú Î™®Îëê ÌïòÎ©¥ Îê©ÎãàÎã§.

### 1. Compare mean for multiple-sample 
 
Îã§Ïùå ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏÑ∏Ïöî. <https://reneshbedre.github.io/blog/anova.html>

Íµ¨Î≥Ñ, ÏùÄÌñâÎÇòÎ¨¥, ÏñëÎ≤ÑÏ¶òÎÇòÎ¨¥, ÎäêÌã∞ÎÇòÎ¨¥Ïóê ÎåÄÌï¥ÏÑú ANOVA TestÎ•º Ïã§ÌñâÌïòÏÑ∏Ïöî.

Îã®, `ÏÑúÏö∏Ïãú`, `Í≥µÏõêÎÖπÏßÄÏÇ¨ÏóÖÏÜå`, `ÏãúÏÑ§Í¥ÄÎ¶¨Í≥µÎã®` Î∂ÄÎ∂ÑÏùò Îç∞Ïù¥ÌÑ∞Îäî Ï†úÏô∏Ìï©ÎãàÎã§.

In [ ]:
from scipy.stats import f_oneway
from scipy.stats import ttest_1samp
import matplotlib.pyplot as plt
import seaborn as sns
tr = trees['ÏûêÏπòÍµ¨'].isin(['ÏÑúÏö∏Ïãú', 'Í≥µÏõêÎÖπÏßÄÏÇ¨ÏóÖÏÜå', 'ÏãúÏÑ§Í¥ÄÎ¶¨Í≥µÎã®'])
trees = trees[~tr]

In [ ]:
trees_melt = pd.melt(trees.reset_index(), id_vars=['ÏûêÏπòÍµ¨'], value_vars = ['ÏùÄÌñâÎÇòÎ¨¥','ÏñëÎ≤ÑÏ¶òÎÇòÎ¨¥','ÎäêÌã∞ÎÇòÎ¨¥'])
sns.boxplot(x='ÏûêÏπòÍµ¨', y='value', hue='variable', data=trees_melt, palette='Set3')
sns.set(rc={'figure.figsize':(20,8)}, font_scale=1.5, style='whitegrid')

In [ ]:
ax = sns.boxplot(x='variable', y='value', data=trees_melt, color='#99c2a2')
ax = sns.swarmplot(x='variable', y="value", data=trees_melt, color='#7d0013')

In [ ]:
import scipy.stats as stats

fvalue, pvalue = stats.f_oneway(trees['ÏùÄÌñâÎÇòÎ¨¥'], trees['ÏñëÎ≤ÑÏ¶òÎÇòÎ¨¥'], trees['ÎäêÌã∞ÎÇòÎ¨¥'])
print(fvalue, pvalue)

17.006289557888046 8.935183167883698e-07

In [ ]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('value ~ C(variable)', data = trees_melt).fit()
annova_table = sm.stats.anova_lm(model, typ=2)
annova_table

#P.valueÎäî 8.935183e-07ÏúºÎ°ú Íµ¨Î≥Ñ ÎÇòÎ¨¥Í∞ÑÏùò Í≤©Ï∞®Í∞Ä ÏûàÎã§Îäî Í≤∞Í≥º ÎèÑÏ∂ú

                   sum_sq    df         F        PR(>F)
C(variable)  9.990817e+07   2.0  17.00629  8.935183e-07
Residual     2.114920e+08  72.0       NaN           NaN

### 2. Sampling

- ÏÑ∏ÏÖò ÏãúÍ∞ÑÏóê Î∞∞Ïõ†Îçò 4Í∞ÄÏßÄ sample Î∞©ÏãùÏùÑ Íµ¨ÌòÑÌï¥Î≥¥ÏÑ∏Ïöî.

- Ïù¥Î•º ÏúÑÌïú Îç∞Ïù¥ÌÑ∞Îäî 1 Î∂ÄÌÑ∞ 100 Ïù¥Î©∞, samplingÌï¥Ïïº ÌïòÎäî ÏàòÎäî 20Í∞ú ÏûÖÎãàÎã§.

- Stratified random samplingÏùÑ ÏúÑÌïú Í∑∏Î£πÏùÑ ÎÇòÎàÑÎäî Í∏∞Ï§ÄÏùÄ 1-10, 11-20, ... Í≥º Í∞ôÏùÄ Î∞©ÏãùÏûÖÎãàÎã§.

- Cluster sampling ÏùÑ ÏúÑÌïú Í∑∏Î£πÏùÑ ÎÇòÎàÑÎäî Í∏∞Ï§ÄÏùÄ 5Î°ú ÎÇòÎà¥ÏùÑÎïåÏùò ÎÇòÎ®∏ÏßÄ Í∞íÏûÖÎãàÎã§. (0,1,2,3,4)

In [ ]:
import pandas as pd
import numpy as np
sample = pd.DataFrame(columns=["count"])
sample.loc[:,"count"] = np.arange(101) 
sample = sample.iloc[1:]
sample

     count
1        1
2        2
3        3
4        4
5        5
..     ...
96      96
97      97
98      98
99      99
100    100

[100 rows x 1 columns]

In [ ]:
#simple random sampling
data = np.random.randint(0,100,20)
data

array([99, 67, 65,  7, 70, 99, 97, 39, 82, 92, 38,  5,  9, 40, 68, 87, 21,
       89, 50, 36])

In [ ]:
#systematic sampling
data = pd.DataFrame(sample)
def systematic_sampling(data, step):
    indexes = np.arange(0,len(data), step=step)
    systematic_sample = data.iloc[indexes]
    return systematic_sample

systematic_sample = systematic_sampling(data, 5)
print(systematic_sample)
systematic_sample.shape

    count
1       1
6       6
11     11
16     16
21     21
26     26
31     31
36     36
41     41
46     46
51     51
56     56
61     61
66     66
71     71
76     76
81     81
86     86
91     91
96     96

(20, 1)

In [ ]:
sample.groupby('count', group_keys=False).apply(lambda x: x.sample(min(len(x), 10)))

     count  rest
1        1     1
2        2     2
3        3     3
4        4     4
5        5     0
..     ...   ...
96      96     1
97      97     2
98      98     3
99      99     4
100    100     0

[100 rows x 2 columns]

In [ ]:
#Cluster Sampling
sample['rest'] = sample['count']%5
sample

sample['Cluster_id'] = df.groupby

   count  rest
2      2     2
5      5     0
6      6     1
9      9     4

### 3. Data transform
Îã§Ïùå ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏó¨  `Inverse transform sampling` ÏùÑ Íµ¨ÌòÑÌï©ÎãàÎã§.

<https://youtu.be/9ixzzPQWuAY>

0 ~ 1 Ïùò Í∞íÏùÑ ÎèôÏùºÌïú ÌôïÎ•†Î°ú Í∞ñÎäî `uniform distribution`ÏúºÎ°ú Î∂ÄÌÑ∞ `binomial distribution`ÏúºÎ°ú transform ÌïòÎäî ÏΩîÎìúÎ•º ÏûëÏÑ±Ìïú Îí§, ÎëêÍ∞ÄÏßÄ Í≤∞Í≥ºÎ•º ÏãúÍ∞ÅÌôîÎ•º ÌÜµÌï¥ ÎπÑÍµêÌïòÏÑ∏Ïöî.

In [ ]:
# importing module
import numpy as np
  
  
# numpy.random.uniform() method
r = np.random.uniform(size=4)
  
# printing numbers
print(r)

[0.58256712 0.58754516 0.52437617 0.89753523]